<!DOCTYPE html>
<html>
    <head>
        <title>All Reviews of Media</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Index</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <header>
            <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="/reviews">Reviews</a>
            <a href="/all_reviews_of_media">Media Reviews</a>
            <a href="/system_support">System_support</a>
            <a href="/users_data">User Data</a>
            <a href="/all_categories">Categories</a>
            <a href="/all_tags">Tags</a>
            <a href="/all_genres">Genres</a>
            <a href="/all_publishers">Publishers</a>
            <a href="/all_developers">Developers</a>
            <a href="/all_trailers">Trailers</a>
            <a href="/all_screenshots">Screenshots</a>
            <a href="/all_audios">Audios</a>
            <a href="/database.sql">Subtitles</a>
            </div>
        </header>
<body>
    <h1>Media Reviews <% if (searchQuery) { %> - Search results for '<%= searchQuery %>'<% } %></h1>
    <form action="/all_reviews_of_media" method="GET" class="search-form">
        <input type="text" name="search" placeholder="Media Reviews Search (BY TITLE)" value="<%= searchQuery %>">
        <button type="submit">Search</button>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>

                <th>
                    <a href="?sortBy=reviews_of_media_id&sortOrder=<%= sortOrder === 'asc' ? 'desc' : 'asc' %>&search=<%= searchQuery %>" class="sort-link" data-sortby="reviews_of_media_id" data-sortorder="<%= sortOrder %>">
                        Review ID
                    </a>
                </th>
                <th>
                    <a href="?sortBy=title&sortOrder=<%= sortOrder === 'asc' ? 'desc' : 'asc' %>&search=<%= searchQuery %>" class="sort-link" data-sortby="title" data-sortorder="<%= sortOrder %>">
                        Game Title
                    </a>
                </th>
                <th>Review</th>
            </tr>
            </thead>

            <tbody>
            
            <% for (let i = 0; i < mediaReviews.length; i++) { %>
                <tr>
                    <td><%= mediaReviews[i].reviews_of_media_id %></td>
                    <td>
                        <a href="/games/<%= mediaReviews[i].games_id %>">
                        <%= mediaReviews[i].title %>
                        </a>
                    </td> 
                    <td><%= mediaReviews[i].review %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        
        <a href="/">Back to Home</a>
    </div>
    </body>
</html>
