<!DOCTYPE html>
<html>
    <head>
        <title>Genres</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Index</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <header>
            <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="/reviews">Reviews</a>
            <a href="/all_reviews_of_media">Media Reviews</a>
            <a href="/system_support">System_support</a>
            <a href="/users_data">User Data</a>
            <a href="/all_categories">Categories</a>
            <a href="/all_tags">Tags</a>
            <a href="/all_genres">Genres</a>
            <a href="/all_publishers">Publishers</a>
            <a href="/all_developers">Developers</a>
            <a href="/all_trailers">Trailers</a>
            <a href="/all_screenshots">Screenshots</a>
            <a href="/all_audios">Audios</a>
            <a href="/all_subtitles">Subtitles</a>
            </div>
        </header>
<head>
    <title>Genres</title>
</head>
<body>
    <h1>                        
        <a href="/games/<%= gameId %>">
            <%= game  %> 
        </a>
        Genres
    </h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>
                    <a href="?sortBy=genres_id&sortOrder=<%= sortOrder === 'asc' ? 'desc' : 'asc' %>" class="sort-link" data-sortby="genres_id" data-sortorder="<%= sortOrder %>">
                        Genre ID
                    </a>
                </th>
                <th>
                    <a href="?sortBy=genres_names&sortOrder=<%= sortOrder === 'asc' ? 'desc' : 'asc' %>" class="sort-link" data-sortby="genres_names" data-sortorder="<%= sortOrder %>">
                        Genre Name
                    </a>
                </th>

            </tr>
            </thead>
            <tbody>

            <% for (let i = 0; i < genres.length; i++) { %>
                <tr>
                    <td><%= genres[i].genres_id %></td>
                    <td>
                        <a href="/games_by_genre/<%=  genres[i].genres_id %>">
                            <%= genres[i].genres_names %>
                        </a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
