<!DOCTYPE html>
<html>
    <head>
        <title>Sinopsis</title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Index</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <header>
        <div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="/reviews">Reviews</a>
        <a href="/all_reviews_of_media">Media Reviews</a>
        <a href="/system_support">System_support</a>
        <a href="/users_data">User Data</a>
        <a href="/all_categories">Categories</a>
        <a href="/all_tags">Tags</a>
        <a href="/all_genres">Genres</a>
        <a href="/all_publishers">Publishers</a>
        <a href="/all_developers">Developers</a>
        <a href="/all_trailers">Trailers</a>
        <a href="/all_screenshots">Screenshots</a>
        <a href="/all_audios">Audios</a>
        <a href="/all_subtitles">Subtitles</a>
    </div>
    </header>
    <body>
        <h1>                        
            <a href="/games/<%= gameId %>">
                <%= game.title  %> 
            </a>
            Support Information
        </h1>
        <table>
            <thead> 
            <tr>
                <th>Support Web </th>
                <th>Support Email</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <% if (game.support_web) { %>
                        <td><a href="<%= game.support_web %>" target="_blank"><%= game.support_web %></a></td>
                        <% } else { %>
                        <td>Support web not found</td>
                    <% } %>
                    
                    <% if (game.support_email) { %>
                        <td><%= game.support_email %></td>
                    <% } else { %>
                        <td>Support email not found</td>
                    <% } %>
                </tr>
            </tbody>
        </table>
        </body>   
</html>